<?php
    $customerLinkedinProfileAttribute = $block->getCustomer()->getCustomAttribute('linkedin_profile');
    $customerLinkedinProfile = $customerLinkedinProfileAttribute ? $customerLinkedinProfileAttribute->getValue() : null;
?>
<div class="field linkedin_profile">
    <label class="label" for="linkedin_profile">
        <span><?= $block->escapeHtml(__('LinkedIn Profile')) ?></span>
    </label>
    <div class="control">
        <input type="url" name="linkedin_profile" id="linkedin_profile" value="<?= $customerLinkedinProfile ?>"
               title="<?= $block->escapeHtmlAttr(__('LinkedIn Profile')) ?>" class="input-text validate-linkedin_url">
    </div>
</div>
